cmake/
.idea/
cmake-build-debug/
/SindreP/Oving4-SSL/nbproject/private/
/SindreP/Oving4-SSL/build/
/SindreP/Oving4-SSL/dist/
out/
/SindreP/Oving4-SSLServer/nbproject/private/
/SindreP/Oving4-SSLServer/dist/
/SindreP/Oving4-SSLServer/build/
/SindreP/Oving4-TLS/Oving4-SSLServer/build/
.jar
